body{
    margin: 0px;
    padding: 0px;
}
h2{
    margin: 0px;
}

/*landing page */
#landing{
     background: url('/images/landing.jpeg');
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
}

.title-background{
    background: ;
}